
###############################################################################
################################### DESKTOP ###################################
###############################################################################
order += "disk /"
order += "disk /home"
order += "load"
order += "tztime local"
