#define fonts   xft:Fira Code Retina:size=11, \
                xft:Office Code Pro:size=11

Xft.dpi: 92
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt*font: fonts
URxvt*boldFont: fonts
URxvt.letterSpacing: -1
URxvt.internalBorder: 10
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*cursorBlink: true

URxvt.perl-ext-common: default,matcher,url-select
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.underline: true
URxvt.underlineURLs: true

URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*keysym.Shift-Control-V: eval:paste_clipboard

URxvt*iso14755: false
URxvt*iso14755_52: false