<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="adb" version="30.0.1" />
  <package id="anki" version="2.1.22" />
  <package id="aria2" version="1.34.0.1" />
  <package id="attributechanger" version="9.50.1" />
  <package id="audacity" version="2.4.1" />
  <package id="audacity-ffmpeg" version="2.2.2.20181007" />
  <package id="auto-dark-mode" version="2.3.1" />
  <package id="autohotkey.portable" version="1.1.32.00" />
  <package id="blender" version="2.83.0" />
  <package id="bulkrenameutility" version="3.3.1.0" />
  <package id="choco-cleaner" version="0.0.7.2" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolatey-visualstudio.extension" version="1.8.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.17.0" />
  <package id="cpu-z" version="1.92" />
  <package id="cpu-z.install" version="1.92" />
  <package id="crystaldiskinfo" version="8.3.1" />
  <package id="crystaldiskinfo.portable" version="8.3.1" />
  <package id="d2codingfont" version="1.3.2" />
  <package id="directx" version="9.29.1974.20180606" />
  <package id="discord" version="0.0.306" />
  <package id="discord.install" version="0.0.306" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="dotnetfx" version="4.8.0.20190930" />
  <package id="epicgameslauncher" version="1.1.257.0" />
  <package id="ffmpeg" version="4.2.3" />
  <package id="FiraCode" version="4.0" />
  <package id="Firefox" version="75.0" />
  <package id="foobar2000" version="1.5.4" />
  <package id="geforce-experience" version="3.20.3.63" />
  <package id="gimp" version="2.10.18.2" />
  <package id="git" version="2.27.0" />
  <package id="git.install" version="2.27.0" />
  <package id="goggalaxy" version="2.0.15.43" />
  <package id="GoogleChrome" version="81.0.4044.129" />
  <package id="hashtab" version="6.0.0.3401" />
  <package id="hwmonitor" version="1.41.0.20191013" />
  <package id="jetbrainstoolbox" version="1.17.6856" />
  <package id="k-litecodecpackbasic" version="15.5.0" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="lame" version="3.100.20190612" />
  <package id="lastpass-for-applications" version="4.35.0" />
  <package id="lossless-cut" version="3.23.7" />
  <package id="malwarebytes" version="4.1.1.159" />
  <package id="mediainfo" version="20.03" />
  <package id="microsoft-edge" version="81.0.416.64" />
  <package id="mkvtoolnix" version="47.0.0" />
  <package id="mpv" version="2020.1.27" />
  <package id="mpv.install" version="2020.1.27" />
  <package id="msiafterburner" version="4.6.2" />
  <package id="musicbee" version="3.3.7367" />
  <package id="neovim" version="0.4.3" />
  <package id="nodejs" version="14.4.0" />
  <package id="nodejs.install" version="14.4.0" />
  <package id="origin" version="10.5.68.39605" />
  <package id="picard" version="2.3.2" />
  <package id="python" version="3.8.3" />
  <package id="python3" version="3.8.3" />
  <package id="qbittorrent" version="4.2.5" />
  <package id="qimgv" version="0.8.9" />
  <package id="qimgv.install" version="0.9.1" />
  <package id="retroarch" version="1.8.7" />
  <package id="runelite" version="2.1.0.20200207" />
  <package id="shexview" version="2.01" />
  <package id="shmnview" version="1.41" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="unifiedremote" version="3.7.0.2352" />
  <package id="universal-adb-drivers" version="1.0.4" />
  <package id="uplay" version="107.0.7492.0" />
  <package id="vcredist140" version="14.26.28720.3" />
  <package id="vcredist2008" version="9.0.30729.6163" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcredist2013" version="12.0.40660.20180427" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="virtualbox" version="6.1.10" />
  <package id="visualstudio-installer" version="2.0.1" />
  <package id="visualstudio2019community" version="16.5.4.0" />
  <package id="vscodium" version="1.44.2" />
  <package id="vscodium.install" version="1.44.2" />
  <package id="Wget" version="1.20.3.20190531" />
  <package id="wireshark" version="3.2.3" />
  <package id="wiztree" version="3.33" />
  <package id="youtube-dl" version="2020.06.06" />
  <package id="zulu11" version="11.39.15" />
  <package id="zulu8" version="8.46.0.19" />
</packages>