
################################################################################
################################### DESKTOP ####################################
################################################################################
# reload the configuration file
bindsym $mod+Shift+c exec --no-startup-id $HOME/.scripts/theme/reload.sh, reload

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r exec --no-startup-id $HOME/.scripts/theme/reload.sh -d && \
                                          wal -i "$HOME/Pictures/.wallpaper" -o "$HOME/.scripts/theme/dunstwal.sh" #restart

# assign workspaces to outputs
workspace $ws1 output DVI-I-1
workspace $ws2 output DVI-I-1
workspace $ws3 output DVI-I-1
workspace $ws4 output DVI-I-1
workspace $ws5 output DVI-I-1
workspace $ws6 output HDMI-0
workspace $ws7 output HDMI-0
workspace $ws8 output HDMI-0
workspace $ws9 output HDMI-0
workspace $ws10 output HDMI-0

# Floating Steam windows
for_window [class="^Steam$" title="^Friends$"] floating enable
for_window [class="^Steam$" title="^Friends List$"] floating enable
for_window [class="^Steam$" title="Steam - Update News"] floating enable
for_window [class="^Steam$" title=".* - Chat"] floating enable
for_window [class="^Steam$" title="^Settings$"] floating enable
for_window [class="^Steam$" title=".* - event started"] floating enable
for_window [class="^Steam$" title=".* CD key"] floating enable
for_window [class="^Steam$" title="^Steam - Self Updater$"] floating enable
for_window [class="^Steam$" title="^Steam - News"] floating enable
for_window [class="^Steam$" title="^Screenshot Uploader$"] floating enable

exec --no-startup-id xcalib -o DVI-D-0 /usr/share/color/icc/BenQ\ RL2455HM\ ICC\ Profile\ \(Standard\ Mode\).icm && \
                     xcalib -o DVI-I-1 /usr/share/color/icc/BenQ\ XL2411Z\ 144Hz.icm && \
                     xcalib -o HDMI-0 /usr/share/color/icc/lent2424za.icm
exec --no-startup-id /opt/urserver/urserver --daemon